../projects/.DS_Store
../projects/GitHubExercise/
../projects/MoreGitHub/
../projects/Practicals/
../projects/Practice
../projects/airport_challenge/
../projects/boris_bikes/
../projects/clmystery/
../projects/collaboration/
../projects/command-line-practices/
../projects/dice_app/
../projects/directory.rb
../projects/fizzbuzz/
../projects/mastery-quizzes/
../projects/oyster_card/
../projects/process_workshop/
../projects/ruby-kickstart/
../projects/ruby_practice/
../projects/skills-workshops/
../projects/student-directory/
../projects/takeaway-challenge/